site_name: Artificial Neural Networks and Deep Learning
site_description: Materiais, atividades e projetos da disciplina de Deep Learning
site_author: Pedro De Lucca
repo_url: https://github.com/DeLucca990/Neural-Networks-Classes
repo_name: DeLucca990/Neural-Networks-Classes
site_url: ''

nav:
  - Home: index.md
  - Atividades:
    - Atividade 01 - Data:
      - Visão Geral: activities/activity_01.md
    - Atividade 02 - Perceptron: 
      - Visão Geral: activities/activity_02.md
    - Atividade 03 - MLP:
      - Visão Geral: activities/activity_03.md
    - Atividade 04 - VAE:
      - Visão Geral: activities/activity_04.md
  - Projetos:
    - Projeto 01 - Classificação de Alertas de Terremotos com MLP:
      - Visão Geral: projects/project_01.md
    - Projeto 02 - Regressão de Preços de Combustíveis no Brasil:
      - Visão Geral: projects/project_02.md

theme:
  name: material
  language: pt
  features:
    - navigation.tabs
    - navigation.expand
    - content.code.annotate
    - content.code.copy
    - toc.integrate
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  logo: assets/imgs/ann-dl.png

plugins:
  - search
  - glightbox

markdown_extensions:
  - admonition
  - footnotes
  - toc:
      permalink: true
  - tables
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js